@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    color: white;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

.container {
    margin-top: 2vh;
    padding: 0;
}

/* #canvas {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#defaultCanvas0 {
    margin-top: 20px;
    margin-bottom: 20px;
} */

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    text-align: center;
    border: 1px solid darkgray;
}

h1 {
    position: absolute;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    top: 40px;
    font-size: 2em;
    text-align: center;
    padding-top: 10px;
    text-shadow: 3px 3px #FF0000;
}

.score1 {
    position: absolute;
    right: 50px;
    top: 20px;
}

.score2 {
    position: absolute;
    right: 50px;
    top: 50px;
}

.function {
    padding-bottom: 1%;
}

.function .btn-primary {
    background-color: unset;
    padding: 10px 50px;
}


.speed{
    position: absolute;
    top: 10px;
    left: 50px;
    padding: 10px 20px 30px;
    background-color: unset;
}

.speed:hover {
    background-color: unset;
}

@media (max-width: 1000px) {
    h1 {
        display: none;
    }

}

@media (max-width: 700px) {
    .function .btn-primary {
        padding: 10px 20px;
    }

}

