
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 50vh;
  overflow: hidden;
}

.link{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}