body {
  background-color: #505050;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

h1 {
  color: white;
  text-shadow: 3px 3px 10px black;
}

.col-lg-3 {
  padding: 20px;
}


.memo-showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content:start;
  padding: 0 1em;
}

@media screen and (max-width: 991px) {
  .memo-showcase{
    justify-content: center;
  }
}

.box {
  background-color: #FAEE7A;
  height: 13em;
  width: 13em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  padding: 1em;
  box-shadow: 10px 10px 10px black;
  position: relative;
}

.box img{
  box-sizing: border-box;
  width: 100%;
  height: 70%;
  object-fit: contain;
}

.delete-button{
  position: absolute;
  top: 175px;
  left: 175px;
  cursor:pointer;
}

.edit-button{
  position: absolute;
  top: 175px;
  left: 140px;
  cursor:pointer;
}

.like-button{
  position: absolute;
  top: 175px;
  /* left: 140px; */
  cursor:pointer;
}