body {
    background-color: #F8CC46;
  }

  .container-xl {
    padding: 40px 20px;
  }

  .header {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .social i {
    background-color: black;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 1.15em;
    color: #F8CC46;
  }

  @media (min-width: 1200px) {
    .container-xl {
      max-width: 1200px;
    }
  }

  @media (max-width: 992px) {
    .navbar {
      background-color: #242628 !important;
    }

    .navbar i {
        color: white;
        font-style: unset;
        font-size: 1.5em;
    }
}

    .navbar-toggle-icon {
        display: none;
    }

  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link:hover {
      background-color: darkgray;
    }
  }

  nav>.container-fluid {
    padding: 0;
  }

  .navbar {
    padding: 0;
  }

  .nav-link {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: 0.75em;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    color: white;
  }

  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .show>.nav-link {
    color: white;
    text-transform: uppercase;
    background-color: black;
  }

  .carousel-indicators [data-bs-target] {
    height: 10px;
    width: 10px;
    border: 1px solid;
    border: 1px solid lightgray;
    border-radius: 50%;
    position: relative;
    top: 50px;
    opacity: 1;
  }

  .carousel-indicators .active {
    background-color: black;
    border: 1px solid black;
  }

  .info h5 {
    border-top: 3px solid white;
    border-bottom: 1px solid rgba(220, 220, 220, 0.2);
    font-size: 2rem;
    padding: 0.25em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  .info p {
    border-bottom: 3px solid white;
    padding: 0.5em;
    font-size: 0.8em;
    margin: 0;
    text-align: center;
  }

  .info .position-absolute {
    background: rgba(0, 0, 0, 0.5);
    padding: 1.5em;
  }

  .info {
    display: flex;
    justify-content: center;
    width: 105%;
  }


  .latest-media .card {
      border: 0;
      border-radius: 0;
  }

  .latest-media .btn {
    background-color: #F8CC46;
    margin-top: 0.5em;
  }

  @media (max-width: 768px) {
    .latest-media .col-md-3 {
      margin-bottom: 1em;
    }
  }

  

