* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 300px;
    height: 300px;
    background-color: #383838;
    display: flex;
    flex-wrap: wrap;

}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid #FFF;
    color: #fff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}