body {
    background-color: #505050;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
  }

  h1 {
      color: white;
      text-shadow: 3px 3px 10px black;
  }

  .container {
    display: flex;
  }

  .box {
    background-color: white;
    height: 10em;
    width: 10em;
    margin-right: 2em;
    padding: 1em;
    box-shadow: 10px 10px 10px black;
  }

  .loginPanel {
      padding-top: 30px;
      color: white;
  }