body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
  }

  .container {
    display: flex;
  }

  .box {
    background-color: white;
    height: 10em;
    width: 10em;
    margin-right: 2em;
    padding: 1em;
    box-shadow: 10px 10px 10px black;
  }